@font-face {
    font-family: 'Cocomat';
    src: url('cocomat-pro-regular.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Cocomat', sans-serif;
}

body{
    background-color: #e8e8e8;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100vw;

    overflow-x: hidden;
}

.active{
    border-bottom: 2px solid #cd8500;
    transition: 0.5s;
}

header{
    width: 100%;
    height: 4rem;

    background-color: #e2e2e2;

    display: flex;
    align-items: center;

    justify-content: space-between;
    box-shadow: 0px 0px 20px 0px #00000046;

    position: fixed;
    top: 0;
}

.logo{
    height: 60%;
    margin-left: 10px;
}

.burguer{
    margin-right: 20px;
}

.theme{
    margin-right: 20px;
}

header i{
    font-size: 20px;
    
}

main{
    width: 100%;
    padding: 20px;
}

nav{
    width: 100%;
    height: 4rem;

    background-color: #d6d6d6;

    position: fixed;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav i{
    font-size: 20px;
}

.perfil-img{
    height: 60%;

    border-radius: 50%;
}

.top-news{
    display: flex;
    padding: 20px;
    justify-content: center;

    width: 100%;
    flex-direction: row;
}

.top1{
    width: 150px;
    height: 200px;
    margin-right: 5px;

    background-color: #093999;
    border-radius: 10px;
}

.top2, .top3{
    width: 150px;
    height: 97.5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.top2{
    background-color: yellow;
}

.top3{
    background-color: green;
}

.perfis{
    height: 80px;
    width: 100%;
    overflow-x: scroll;
    
    display: flex;
}

.perfis img{
    height: 90%;
    margin: 2px;
    border-radius: 50%;
}

.top-assuntos{
    display: flex;
    padding: 20px;
    justify-content: center;

    width: 100%;
    flex-direction: row;
}